<mat-sidenav-container (backdropClick)="toggleSidenav()" class="container" fxFlex>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="opened | async">
    <nav>
      <mat-list>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <span>Dashboard</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/friends">
          <span>Friends</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/auth/login" *ngIf="currentUser == null">
          <span>Login</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="logout()" *ngIf="currentUser != null">
          <span>Logout</span>
        </a>
        <mat-divider></mat-divider>
      </mat-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="menu-button" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <span *ngIf="currentUser != null">
        {{currentUser.username}}
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
