<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>

  <p class="loginButtons">
    <button mat-button type="reset" routerLink="/auth/register">Register</button>
    <button type="submit" mat-button>Login</button>
  </p>
</form>
